<%- include("partials/header"); %> 

<form action="/password" method="post">
<h3>Enter Password to access admin page!</h3>
<input type="password" name="password" placeholder="enter password">
<button class="btn btn-dark" type="submit">Submit</button>
</form>

<%- include("partials/footer1"); %> 
